/practicaCucumb/target/
/practicaCucumb/.idea/modules.xml
/practicaCucumb/.idea/workspace.xml
/practicaCucumb/.idea/jarRepositories.xml
/practicaCucumb/.idea/compiler.xml
/practicaCucumb/.idea/libraries/
/practicaCucumb/.idea/sonarlint/issuestore
/practicaCucumb/*.iws
/practicaCucumb/*.iml
/practicaCucumb/*.ipr
